In [39]:
import pandas as pd
import math

In [56]:
test = pd.read_csv('test.csv')
test[test.vtkOriginalCellIds == 2237800]
# test.vtkOriginalCellIds.value_counts()

,Points_0,Points_1,Points_2,Points_Magnitude,Volume,Block Number,vtkOriginalCellIds,Point ID,vtkOriginalPointIds
386,0.831267,0.976149,-0.234353,1.30338,0.000180,1,2237800,386,2255741
387,0.831266,1.078690,-0.258971,1.38623,0.000180,1,2237800,387,66372
388,0.810922,1.076090,-0.258347,1.37197,0.000178,1,2237800,388,66373
389,0.810923,0.973643,-0.233751,1.28849,0.000178,1,2237800,389,2255740
390,0.831267,0.991527,-0.157042,1.30338,0.000180,1,2237800,390,2283565
391,0.831266,1.095690,-0.173540,1.38623,0.000180,1,2237800,391,66500
392,0.810922,1.093040,-0.173121,1.37197,0.000178,1,2237800,392,66501
393,0.810923,0.988981,-0.156639,1.28849,0.000178,1,2237800,393,2283564

In [57]:
centers = pd.read_csv('test_center.csv')
centers[centers.vtkOriginalCellIds == 2237800]

,Points_0,Points_1,Points_2,Points_Magnitude,Block Number,vtkOriginalCellIds,Point ID
110,0.821095,1.03423,-0.20572,1.33647,1,2237800,110

In [30]:
# create the point object
class Point:
    def __init__(self, x = 0, y = 0, z = 0):
        self.x = x
        self.y = y
        self.z = z

In [31]:
# modulus calculation
def modulus(p):
#     print(p)
    return math.sqrt(p.x * p.x + p.y * p.y + p.z * p.z)

In [36]:
test = Point(2.5)
print(test.x)
# print(modulus(test))

2.5

In [37]:
#global values
epsilon = 0.0000001
twoPI = 6.283185307179586476925287

In [52]:
def calcAngleSum(point, polygon, n):
    i = 0;
    m1 = 0.0
    m2 = 0.0
    anglesum = 0.0
    costheta = 0.0
    p1 = Point();
    p2 = Point();
    
    for i in range(0, n):
        p1.x = polygon[i].x - point.x
        p1.y = polygon[i].y - point.y
        p1.z = polygon[i].z - point.z
        p2.x = polygon[(i+1)%n].x - point.x
        p2.y = polygon[(i+1)%n].y - point.y
        p2.z = polygon[(i+1)%n].z - point.z
        
        m1 = modulus(p1)
        m2 = modulus(p2)
        
        if (m1 * m2 <= epsilon):
            return twoPI #inside
        else:
            costheta = (p1.x*p2.x + p1.y*p2.y + p1.z*p2.z) / (m1*m2)
            
        anglesum += math.acos(costheta)
        
    return anglesum

In [63]:
#main method
point = Point(0.821095, 1.03423, -0.20572)
poly1 = Point(0.831267, 0.976149, -0.234353)
poly2 = Point(0.831266, 1.078690, -0.258971)
poly3 = Point(0.810922, 1.076090, -0.258347)
poly4 = Point(0.810923, 0.973643, -0.233751)
poly5 = Point(0.831267, 0.991527, -0.157042)
poly6 = Point(0.831266, 1.095690, -0.173540)
poly7 = Point(0.810922, 1.093040, -0.173121)
poly8 = Point(0.810923, 0.988981, -0.156639)
polygon = [poly1, poly2, poly3, poly4, poly5, poly6, poly7, poly8]
# print(len(polygon), polygon)
anglesum = calcAngleSum(point, polygon, 8)
print(anglesum)

10.345276777243665

In [65]:
#main method
point2 = Point(0.800967, -0.00615103, 0.0519698)
poly11 = Point(0.791001, -0.00807775, 0.0510009)
poly12 = Point(0.791001, -0.00405136, 0.0514775)
poly13 = Point(0.810933, -0.00817822, 0.0516352)
poly14 = Point(0.791001, -0.00820651, 0.0518139)
poly15 = Point(0.810933, -0.00410175, 0.0521177)
poly16 = Point(0.791001, -0.00411594, 0.052298)
poly17 = Point(0.810933, -0.00830924, 0.0524625)
poly18 = Point(0.810933, -0.00416747, 0.0529527)
polygon2 = [poly11, poly12, poly13, poly14, poly15, poly16, poly17, poly18]
# print(len(polygon), polygon)
anglesum2 = calcAngleSum(point2, polygon2, 8)
print(anglesum2)

18.67803823113006