In [109]:
import pandas as pd
from shapely.geometry import Point
from shapely.geometry.polygon import Polygon

In [110]:
test = pd.read_csv('test.csv')

In [116]:
test.vtkOriginalCellIds.value_counts()

2237800    8
1421168    4
2209454    4
2237801    4
2180919    4
          ..
1434869    1
2048754    1
2152385    1
2181013    1
1710452    1
Name: vtkOriginalCellIds, Length: 271, dtype: int64

In [112]:
centers = pd.read_csv('test_center.csv')
centers

,Points_0,Points_1,Points_2,Points_Magnitude,Block Number,vtkOriginalCellIds,Point ID
0,1.957780,-0.781649,-0.616202,2.19626,1,1420789,0
1,1.957780,-0.860322,-0.678223,2.24344,1,1420978,1
2,2.007000,-0.865124,-0.682008,2.28946,1,1420979,2
3,2.007000,-0.948123,-0.747440,2.34215,1,1421168,3
4,1.863630,-0.653919,-0.604477,2.06546,1,1448759,4
...,...,...,...,...,...,...,...
109,0.905944,0.946209,-0.188213,1.32343,1,2237615,109
110,0.821095,1.034230,-0.205720,1.33647,1,2237800,110
111,0.841651,1.036830,-0.206238,1.35127,1,2237801,111
112,0.862636,1.039480,-0.206766,1.36653,1,2237802,112
113,0.884063,1.042190,-0.207305,1.38228,1,2237803,113

In [113]:
for index, rows in centers.iterrows():
    p = []
    c = [rows.Points_0, rows.Points_1, rows.Points_2]
    points = test[test.vtkOriginalCellIds == rows.vtkOriginalCellIds][['Points_0','Points_1','Points_2']]
    for index, rows in points.iterrows():
        my_list = (rows.Points_0, rows.Points_1, rows.Points_2)
        p.append(my_list)
#     print(type(p))
    if len(p) > 2:
#         print("hello")
        point = Point(c)
        polygon = Polygon(p)
        print(polygon.contains(point))

False
False
True
False
False
True
True
True
False
True
False
False
False
True
False
False
False