In [1]:
import pandas as pd

In [29]:
df = pd.read_csv("0.2_d.csv")
df.head()

,temp,Point ID,Structured Coordinates:0,Structured Coordinates:1,Structured Coordinates:2
0,0.0,0,0,0,0
1,0.0,1,1,0,0
2,0.0,2,2,0,0
3,0.0,3,3,0,0
4,0.0,4,4,0,0

In [30]:
df.temp.min()

0.0

In [31]:
df.temp.max()

21367.4

In [32]:
# NewValue = (((OldValue - OldMin) * NewRange) / OldRange) + NewMin
newVal = df.temp.tolist()

In [33]:
OldRange = (df.temp.max() - df.temp.min())  
NewRange = (255 - 0) 
scaledVal = list()
for val in newVal:
    nv = (((val - df.temp.min()) * NewRange) / OldRange) + 0
    scaledVal.append(int(nv))

In [37]:
max(scaledVal)

254

In [36]:
import csv
with open('0.2_DDSC.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow('temp')
    writer.writerows(zip(scaledVal))