In [6]:
import pandas as pd
import numpy as np
from os import listdir

In [7]:
onlyfiles = [f for f in listdir("noCone") ]
onlyfiles

['0.1025',
 '0.105',
 '0.1075',
 '0.11',
 '0.1125',
 '0.115',
 '0.1175',
 '0.12',
 '0.1225',
 '0.125',
 '0.1275',
 '0.13',
 '0.1325',
 '0.135',
 '0.1375',
 '0.14',
 '0.1425',
 '0.145',
 '0.1475',
 '0.15']

In [8]:
temp = list()
pressure = list()

In [9]:
for index in range(len(onlyfiles)):
    path="noCone/{}/lagrangian/reactingCloud1/T".format(onlyfiles[index])
    with open(path, 'r') as file:
        for line in file.readlines():
            num = float(line.strip('\n'))
            temp.append(num)

In [10]:
for index in range(len(onlyfiles)):
    path="noCone/{}/lagrangian/reactingCloud1/pressure".format(onlyfiles[index])
    with open(path, 'r') as file:
        for line in file.readlines():
            num = float(line.strip('\n'))
            pressure.append(num)

In [11]:
len(temp)

17772

In [12]:
len(pressure)

17772

In [13]:
mixingLine = pd.DataFrame()
mixingLine['temperature'] = temp
mixingLine['pressure'] = pressure
mixingLine.head()

   temperature  pressure
0      591.623   587.508
1      594.147   600.042
2      591.706   595.010
3      591.136   593.030
4      591.336   593.731

In [14]:
mixingLine.to_csv ('Extracted Data/mixingLine.csv', index = False, header=True)

In [21]:
r = np.arange(min(temp),max(temp))
r
saturation_ice = 100 * np.exp(((-6024.5282) / r) + 24.7219 + (1.0613868e-2 * r) + ((-1.3198824e-5) * r * r) + ((-0.49382577) * np.log(r)) )

saturation_water = 100 * np.exp(((-6096.9385) / r) + 16.635764 + ((-2.711193e-2) * r) + ((1.673952e-5) * r*r) + (2.433502* np.log(r)) )

In [22]:
saturationCurve = pd.DataFrame()
saturationCurve['temp'] = r
saturationCurve["ice"] = saturation_ice
saturationCurve['water'] = saturation_water
saturationCurve.head()

      temp       ice     water
0  219.007  2.336963  3.980907
1  220.007  2.655030  4.478866
2  221.007  3.012927  5.033261
3  222.007  3.415199  5.649802
4  223.007  3.866856  6.334699

In [23]:
saturationCurve.to_csv ('Extracted Data/saturationCurve.csv', index = False, header=True)

In [20]:
max(saturation_ice)

4258.528558415896